.cafe-card {
  background: #FFFFFF;
  border-radius: 40px;
  width: 200px;
  height: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 60px 20px 20px;
  text-align: center;
  position: relative;
  margin-top: -300px;
}

.cafe-grid {
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 420px 100px;
}

.cafe-gatos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid #FFFFFF;
}

.play-btn {
  margin-top: 120px;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  background-color: #7B4F2C;
  color: white;
  cursor: pointer;
  font-size: 18px;
}