.titulo{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size:x-large;
     margin: 25px;
}
p{
     position: relative;
     top: 120px;
}
.nome-pet{
     position: relative;
     top: 110px;
     font-size: x-large;
}