.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: "Gabarito", sans-serif;
  color: #4A2E1F;
  
}

#titulo-gatos{
     /* position: relative; */
     bottom: 550px;
}

p {
     transform: translateY(+90px);
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: medium;
     color: #4A2E1F;
}

.nome-pet {
     transform: translateY(+80px);
     font-size: x-large;
     font-family: "Playfair Display", serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     color: #4A2E1F;
}

#pata{
     width: 300px;
   
}