.cafe-header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color:#7B4F2C;
    border-bottom: 1px solid #d29763;
}
nav{
     display: flex;
     gap: 50px;
     cursor: pointer;
     color: #FFFFFF;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     
}
.nav-item.active {
    border-bottom: 2px solid #FFF8F0;
    font-weight: bold;
    color: #FFF8F0;
    cursor: pointer;
    transition: 0.3s;
}
.nav-item:hover {
    scale: 1.1;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    right: 485px;
    color: #FFFFFF;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.logo-img{
    width: 60px;
    position: relative;
    left: 50%;
}


