.titulo-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 25px 0;
  font-size: x-large;
  font-family: "Gabarito", sans-serif;
  color: #4A2E1F;
}

#titulo-menu {
  margin: 0;
}

.categoria-titulo {
  margin: 20px 0 10px 20px;
  font-family: "Gabarito", sans-serif;
  color: #4A2E1F;
  font-size: x-large;
}